
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
    @ViewBag.Greeting, Świecie (z widoku)
    <p>Zapraszmy na wspaniałe przyjęcie!<br />
    (Do zrobienia: trzeba to ulepszyć, dodać zdjęcia i inne takie).    
    </p>
    @Html.ActionLink("Wyślij RSVP", "RsvpForm")
   
    </div>
</body>
</html>
